<div *ngIf="mastermessages">
  <h1>Messages</h1>

  <div>
    <div class="table">
      <div class="mt-3">
        <table datatable [dtOptions]="dtOptions"
               class="table table-hover mt-5 table-striped">
          <thead>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Olivia brown sent a new message</td>
            <td><i class="bi bi-clock me-2"></i>4:15pm 08/12/2023</td>
            <td>
              <button class="btn btn-warning">Open</button>
            </td>
          </tr>
          <tr>
            <td>Asher brown sent a new message</td>
            <td><i class="bi bi-clock me-2"></i>3:12pm 08/18/2023</td>
            <td>
              <button class="btn btn-warning">Open</button>
            </td>
          </tr>
          <tr>
            <td>Laikyn perna uploaded a file</td>
            <td><i class="bi bi-clock me-2"></i>2:15pm 08/22/2023</td>
            <td>
              <button class="btn btn-warning">Open</button>
            </td>
          </tr>
          <tr>
            <td>Ella steffi uploaded a picture</td>
            <td><i class="bi bi-clock me-2"></i>5:15pm 08/22/2023</td>
            <td>
              <button class="btn btn-warning">Open</button>
            </td>
          </tr>
          <tr>
            <td>Laikyn perna uploaded a file</td>
            <td><i class="bi bi-clock me-2"></i>5:15pm 08/22/2023</td>
            <td>
              <button class="btn btn-warning">Open</button>
            </td>
          </tr>
          <tr>
            <td>Ella steffi uploaded a picture</td>
            <td><i class="bi bi-clock me-2"></i>5:15pm 08/22/2023</td>
            <td>
              <button class="btn btn-warning">Open</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
