.Copyright{
    width:700px;
    float:left;
    height:100%; 
    margin-left: 10px;
}

.Sociallinks{
    margin-left:1290px;
}

h1{
    font-size: 12px;
    position: relative;
    left: 450px;
    color: rgb(99, 96, 96);
}

button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}
