* {
font-family: 'Mulish', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.menu-container {
position: relative;
width: 250px;
height: 1177px;
background: #33658A;
box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.25);
}

.navigation-buttons {
position: absolute;
left: 10px;
width: 40px;
}

hr {
border: 0;
}

.Admin {
font-size: 14px;
padding: 10px;
padding-right: 110px;
background: #33658A;
color: rgb(255, 255, 255);
border: none;
border-radius: 200px;
font-weight: 500;
display: flex;
align-items: center;
justify-content: center
}

.Master {
font-size: 14px;
padding: 10px;
padding-right: 90px;
background: #33658A;
color: rgb(255, 255, 255);
border: none;
border-radius: 200px;
font-weight: 500;
display: flex;
align-items: center;
justify-content: center
}


.Subscriber {
font-size: 14px;
padding: 10px;
padding-right: 30px;
background: #33658A;
color: rgb(255, 255, 255);
border: none;
border-radius: 200px;
font-weight: 500;
display: flex;
align-items: center;
justify-content: center
}

.Applicants{
font-size: 14px;
padding: 10px;
padding-right: 40px;
background: #33658A;
color: rgb(255, 255, 255);
border: none;
border-radius: 200px;
font-weight: 500;
display: flex;
align-items: center;
justify-content: center
}

.Payments{
font-size: 14px;
padding: 10px;
padding-right: 60px;
background: #33658A;
color: rgb(255, 255, 255);
border: none;
border-radius: 200px;
font-weight: 500;
display: flex;
align-items: center;
justify-content: center
}

button :hover {
cursor: pointer;
}

.menu-container.navigation-buttons.admin {
position: relative;
right: 80%;
}

button {
transition: all .5s ease;
color: #edcd7a;
border: 3px solid #edcd7a;
font-family: 'Montserrat', sans-serif;
text-align: center;
line-height: 1;
font-size: 17px;
background-color: transparent;
padding: 10px;
outline: none;
border-radius: 4px;
}

button:hover {
color: #001F3F;
background-color: #edcd7a;
}

img {
flex-basis: 40%;
width: 25px;
height: auto;
}


.text {
font-size: 20px;
padding-left: 20px;
}

/*Body tag*/

.header-container{
width:100%;
height: 90px;
background-color: rgb(246, 250, 250);
display: flex;
align-items: center;
justify-content: space-between;
border-bottom: 1px solid black;
box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
}

#logo{
margin-left: 10px;
}

.logout{
margin-left: 40px;
font-size: 18px;
border-radius: 300px;
background: #F4C744;
color: rgb(12, 15, 15);
padding: 10px;   
border: 0px;
outline: none;
}

button{
border: none;
cursor: pointer;
appearance: none;
}

/**/

.dropbtn {
background-color: rgb(246, 250, 250);
padding: 16px;
border: none;
cursor: pointer;
}

.dropdown {
margin-left: 10px;
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
right: 0;
background-color: none;
min-width: 160px;
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #f2e2f1;}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover .dropbtn {
background-color: #f0ede1;
border-radius: 500px;
}

h1{
    position: relative;
    left:320px;
}

.me{
    width: 200px;
    height: 118px;
    position: relative;
    bottom: 1135px;
    left:670px;
}
.body-container1{
width: 865px;
height: 261px;
border-radius: 4px;
background: #FFF;
box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.15);
position: relative;
bottom: 100px;
left:320px;
}

.body-container2{
width: 865px;
height: 152px;
border-radius: 4px;
background: #FFF;
box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.15);
position: relative;
left:320px;
bottom: 800px;
}

.masterinformation{

justify-content: center;
position: relative;
top: 20px;
left: 0px; 
}

.firstname{
position: relative;
right: 250px;
}

.lastname{
padding-bottom: 5px;
position: relative;
top: 20px;
right: 250px;
}

.skillsinterested{
padding-bottom: 5px;
position: relative;
top: 30px;
right: 250px;
}

.gradelevel{
padding-bottom: 5px;
position: relative;
top: 40px;
right: 250px;
}


.gender{
padding-bottom: 5px;
position: relative;
top: 50px;
right: 250px;
}

.dob{
padding-bottom: 8px;
position: relative;
top: 60px;
right: 250px;
}


.email{
padding-bottom: 5px;
position: relative;
top: 70px;
right: 250px;
}

.phone{
padding-bottom: 5px;
position: relative;
top: 10px;
left: 300px;

}


.phone1{
padding-bottom: 5px;
position: relative;
bottom: 160px;
left: 300px;
}

h2{
color: #2364AA;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 27px; /* 150% */
text-transform: uppercase;
}

.educationalinfo{
position: relative;
top: 15px;
right: 250px; 
}

.educationalinfo1{
position: relative;
top: 15px;
left: 30px;
}

.Docline1{
width: 392px;
height: 7px;
flex-shrink: 0;
border-radius: 4px;
background: #05E343;
position: relative;
top: 54px;
}


.Docline2{
width: 392px;
height: 7px;
flex-shrink: 0;
border-radius: 4px;
background: #05E343;
position: relative;
top: 108px;
}

/**/

h3{
color: #3764A5;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
position: relative;
top: 20px;
right:300px;
}

.email-container{
margin-left: 600px;
position: relative;
left:30px;
bottom : 780px;
}

.email1{
position: relative;
bottom :30px;
}

input[type=text] {
padding: 1px 2px;
margin: 8px 0;
box-sizing: border-box;
width: 865px;
height: 118px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #EAEAEA;
position: relative;
top: 40px;
right: 300px;
}

.assign{
font-family: 'Mulish', sans-serif;
font-size: 14px;
font-style: normal;
display: flex;
padding: 1em;
background: #F4C744;
color: #161618;
border: none;
border-radius: 30px;
font-weight: 600;
position: relative;
bottom: 750px;
left: 300px;
}


.assign1{
font-family: 'Mulish', sans-serif;
font-size: 14px;
font-style: normal;
display: flex;
padding: 1em;
background: #F4C744;
color: #161618;
border: none;
border-radius: 30px;
font-weight: 600;
position: relative;
bottom: 810px;
left: 460px;
}


.cancel{
font-family: 'Mulish', sans-serif;
font-size: 14px;
font-style: normal;
display: flex;
padding: 1em;
background: #D2D9DF;
color: #101016;
border: none;
border-radius: 30px;
font-weight: 600;
position: relative;
bottom: 870px;
left: 640px;
}

.Profiledes{
    position: relative;
    top: 60px;
    right: 250px;
}

.Professionaldes{
    position: relative;
    top: 90px;
    right: 250px;
}

.admindoc{
    position: relative;
    top: 100px;
    right: 0px;
    left: 30px;
}

.Doc1{
    position: relative;
    top: 100px;
    left: 30px;
}


.Doc2{
    position: relative;
    left: 30px;
}

.sessions{
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-style: normal;
    display: flex;
    padding: 1em;
    width: 150px;
    height: 40px;
    border-radius: 18px;
    background: #D97934;
    color: #FFF;
    position: relative;
    top: 35px;
    left: 10px;
}


.masterinformation1{

justify-content: center;
position: relative;
top: 20px;

}

.firstname1{
position: relative;
left:25px;
}

.lastname1{
padding-bottom: 5px;
position: relative;
top: 25px;
left:25px;
}

.skillsinterested1{
padding-bottom: 5px;
position: relative;
top: 50px;
left:25px;
}

.gradelevel1{
padding-bottom: 5px;
position: relative;
top: 30px;
left:570px;
}
