<app-header></app-header>

<div style="width: 100%; overflow: hidden">
    <div style="width: 280px; float: left">
        <div class="menu-container">
            <div class="navigation-buttons">
                <div class = "line"></div>
                

                <button class="Master" >
                <div class="image">
                    <img
                    src="assets/images/icons/teacher.png"
                    alt="Slogan for master."
                    />
                </div>
                <div class="text">Master</div>
                </button>

                
                <button class="Subscriber" >
                <div class="image">
                    <img
                    src="assets/images/icons/subscriber.png"
                    alt="Slogan for subscribers."
                    />
                </div>
                <div class="text">Subscribers</div>
                </button>

                <button class="Applicants" >
                    <div class = "image" >
                        <img
                            src="assets/images/icons/application.png" 
                            alt="Slogan for admin." 
                        /> 
                    </div><div class = "text">Applicants</div> 
                </button>

                
                <button class="Payments" >
                    <div class = "image" >
                        <img
                            src="assets/images/icons/payment.png" 
                            alt="Slogan for admin." 
                        /> 
                    </div><div class = "text">Payments</div> 
                </button>

            </div>
        </div>
    </div>

    <div class = "Button">
        <button class="sessions" > SESSION : 24837 </button>
    </div> 

    <div class = "body-container1">

        <div class = "masterinformation">
            <div class = "firstname"> Master  :   Sam Mathieu</div>
            <div class = "lastname">Subsciber  :   Anika Morasu</div>
            <div class = "skillsinterested"> Session date :    Jul - 14 - 2023</div>
            <div class = "gradelevel">Session status :   Successful</div>
            <div class = "gender">Time  :    3: 00 Pm</div>
            <div class = "dob"> Duration  :    2 Hrs</div>
            <div class = "email">  Amount   :   65 $</div>
            <div class = "phone1">ID Number :  0123</div>
            <div class = "phone">Payment transcation :  Credited</div>
        </div>

    </div>

</div>

<div class = "body-container2">

    <div class = "masterinformation1">
        <div class = "firstname1"> Master  :   Sam Mathieu</div>
        <div class = "lastname1">Pay to  :190*******679</div>
        <div class = "skillsinterested1"> Amount  : 40$</div>
        <div class = "gradelevel1">Pay rate per hour : 20$</div>
    </div>
    

</div>

<div>
    <div class = "email-container">
        <h3>Reason(required if refund)</h3>
        <div class="email1">
          <input type="text" name="searchbar" placeholder="Comment" />
        </div> 
    </div>
</div>


<div class = "Button">
    <button class="assign" > Approve Payment </button>
    <br>
    <button class="assign1" > Refund the Amount </button>
    <br>
    <button class="cancel" > Back </button>
</div> 