<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">

<div *ngIf="users">

  <button class="addAdmin" (click)="enableaddadmin('addadminbutton')">Add Admin +</button> 
  <h1>ADMIN</h1>

  <div class = "search-container">

    <img class = "searchicon"src="assets/images/icons/search.png" alt="Search icon." width="20" >
      <div class="sec-2">
      
        <input type="text" name="searchbar" placeholder="Search" />
      </div> 
  </div>

  <button class="admindetails" (click)="enableaddadmin('admindetailspage')"> 

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">NAME</th>
          <th scope="col">USER NAME</th>
          <th scope="col">CREATED DATE</th>
          <th scope="col">NO. OF SESSIONS</th>
          <th scope="col">LAST LOGIN</th>
          <th scope="col">STATUS</th>
      </thead>
      <tbody>
        <tr>
          <td><img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
            alt=""
            style="width: 40px; height: 40px"
            class="rounded-circle"/></td>
          <td>Luna fermoyle</td>
          <td>lunad</td>
          <td>05/21/23</td>
          <td>4</td>
          <td>05/21/23</td>
          <td><span class="badge badge-success rounded-pill d-inline">Verified</span></td>
    
        </tr>
        <tr>
          <td><img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt=""
            style="width: 40px; height: 40px"
            class="rounded-circle"/></td>
          <td>Nicholas Simone</td>
          <td>nicholass</td>
          <td>05/21/23</td>
          <td>4</td>
          <td>05/21/23</td>
          <td><span class="badge badge-warning rounded-pill d-inline"> Non Verified</span></td>
        </tr>
        <tr>
          <td><img src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt=""
            style="width: 40px; height: 40px"
            class="rounded-circle"/></td>
          <td>Luna fermoyle</td>
          <td>lunad</td>
          <td>05/21/23</td>
          <td>4</td>
          <td>05/21/23</td>
          <td><span class="badge badge-success rounded-pill d-inline">Verified</span></td>
        </tr>
        <tr>
          <td><img src="https://images.pexels.com/photos/3444087/pexels-photo-3444087.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt=""
            style="width: 40px; height: 40px"
            class="rounded-circle"/></td>
          <td>Pooja Patil</td>
          <td>pooja</td>
          <td>05/21/23</td>
          <td>4</td>
          <td>05/21/23</td>
          <td><span class="badge badge-warning rounded-pill d-inline"> Non Verified</span></td>
        </tr>
        <tr>
          <td><img src="https://images.pexels.com/photos/5378700/pexels-photo-5378700.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt=""
            style="width: 40px; height: 40px"
            class="rounded-circle"/></td>
          <td>Nicholas Simone</td>
          <td>nicholas</td>
          <td>05/21/23</td>
          <td>4</td>
          <td>05/21/23</td>
          <td><span class="badge badge-info rounded-pill d-inline">In Active</span></td>
        </tr>
      </tbody>
    </table>

  </button> 
</div>


<div class = "Admin panel">
  <div *ngIf="addprofilepage">
    <app-addprofile></app-addprofile>
  </div>
    
  <div *ngIf="admindetailspage">
      <app-admindetails></app-admindetails>
  </div>
</div>

