$white-color: #fff;
$backgroud-primary: #33658A;
$button-color: #f4c430;
$button-hover-color: #edb305;

.login-container {
  background: $backgroud-primary;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .login-form {
    background-color: $white-color;
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo-container {
      padding: 2rem;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      width: 100%;
    }

    .login-form-container {
      padding: 5rem 0;
      width: 60%;

      input[type="email"],
      input[type="password"] {
        height: 3rem;
        -webkit-appearance: none;
        appearance: none;

        &:focus {
          border-color: none;
          box-shadow: none;
          outline: 0 none;
        }
      }

      .password-icon {
        position: absolute;
        right: 4%;
        background: none;
        height: 100%;
        z-index: 10;
        color: #333;
        background-color: inherit;
        border: none;
        font-size: 1.25rem;

        &:hover {
          cursor: pointer;
          color: #000;
        }
      }

      .btn-login {
        background-color: $button-color;
        border: none;
        outline: none;
        padding: 0.8rem 0;
        border-radius: 3rem;

        &:hover {
          background-color: $button-hover-color;
        }
      }
    }
  }
}