<div class="login-container">
  <div class="login-form">
    <div class="logo-container text-center">
      <img
        src="assets/images/HireAMasterLogo.png"
        alt="A logo of a character standing near the letter A and the company named HireAMaster."
        title="HireAMaster Logo"
      />
    </div>
    <div class="login-form-container">
      <div class="mb-4">
        <input
          type="email"
          name="username"
          placeholder="Your email"
          class="form-control"
          [(ngModel)]="username"
        />
      </div>
      <div class="input-group mb-4">
        <input
          type="password"
          class="form-control"
          [(ngModel)]="password"
          placeholder="Password"
          aria-describedby="password-icon"
        />
        <button class="password-icon" typ="button">
          <i class="bi bi-eye"></i>
        </button>
      </div>
      <div class="text-danger" style="height: 2rem">{{ errorMsg }}</div>
      <button class="btn btn-success w-100 btn-login mt-4" (click)="login()">
        Login
      </button>
    </div>
  </div>
</div>
