<hr />
<div class="Copyright">
  <h1>
    Copyright © 2023 HireAMaster LLC. All Rights Reserved. Powered By
    <img
      src="assets/images/ITprologo.png"
      alt="A logo of a character standing near the letter
    A and the company named HireAMaster."
      title="IT Profound Logo"
      width="90"
      height="auto"
    />
  </h1>
</div>

<div class="Sociallinks">
  <button type="Gmail">
    <a href="https://mail.google.com/mail/u/0/#inbox">
      <img
        src="assets/images/icons/gmail.png"
        href="https://mail.google.com/mail/u/0/#inbox"
        alt="Email ID logo."
        title="Gmail Logo"
        width="40"
        height="auto"
      />
    </a>
  </button>

  <button type="Instagram">
    <a href="https://www.instagram.com/">
      <img
        src="assets/images/icons/instagram.png"
        alt="A logo of a character standing near the letter
            A and the company named HireAMaster."
        title="IT Profound Logo"
        width="40"
        height="auto"
      />
    </a>
  </button>

  <button type="Linkedin">
    <a href="https://www.linkedin.com/">
      <img
        src="assets/images/icons/linkedin.png"
        alt="A logo of a character standing near the letter
            A and the company named HireAMaster."
        title="IT Profound Logo"
        width="40"
        height="auto"
      />
    </a>
  </button>
</div>
