<h1>EDIT SKILL</h1>

<form>
  <input list="skills" id="myHouse" name="myHouse" placeholder="Skills" />
  <datalist id="skills">
    <option value="Maths"></option>
    <option value="Art"></option>
    <option value="Science"></option>
    <option value="History"></option>
    <option value="Geography"></option>
  </datalist>
</form>

<div class="name">
  <div class="sec-2">
    <input type="text" name="category" placeholder="Category" />
  </div>

  <div class="Button">
    <button class="save">Save and Continue</button>
    <button class="Cancel">Cancel</button>
  </div>
</div>
