.addMasters {
  position: relative;
  top: 40px;
  left: 0px;
  font-family: "Poppins";
  font-size: 18px;
  background: #F4C744;
  color: rgb(12, 15, 15);
  border-radius: 5px;
  padding: 3px;
}

h1 {
  position: relative;
  top: 50px;
  color: #3764A5;
  font-size: 30px;
  font-family: Mulish;
  font-weight: 700;
  text-transform: uppercase;
}

img {
  position: relative;
  top: 60px;
}

.search-container {
  padding: 12px 20px;
  top: 40px;
  margin-left: 1220px;
  box-sizing: border-box;
  display: flex;
  border-radius: 4px;
  border: 1px solid #EAEAEA;
  background: #FFF;
  border-radius: 0px;
}

.admindetails {
  outline: none;
  border: none;
  background-color: white;
}


* {
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.addMasters {
  position: relative;
  top: 40px;
  left: 0px;
  font-family: "Poppins";
  font-size: 18px;
  background: #F4C744;
  color: rgb(12, 15, 15);
  border-radius: 5px;
  padding: 3px;
}

h1 {
  position: relative;
  top: 50px;
  color: #3764A5;
  font-size: 30px;
  font-family: Mulish;
  font-weight: 700;
  text-transform: uppercase;
}

img {
  position: relative;
  top: 60px;
}


.search-container {
  top: 40px;
  margin-left: 1220px;
}


input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  width: 200px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #EAEAEA;
}

.searchicon {
  position: relative;
  top: 40px;
  left: 170px;
}


.admindetails {
  outline: none;
  border: none;
  background-color: white;
}

table {
  width: 1190px;
  border-collapse: collapse;
  font-family: Mulish;
}

th,
td {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #D97934;
  color: white;
}

tr:nth-child(even) {
  background-color: #F0F8FF;
}

tr:hover {
  background-color: #DEF3FF;
}



.badge {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
}

.badge-success {
  background-color: #28a745;
  color: #fff;
}

.badge-warning {
  background-color: #ffc107;
  color: #000;
}

.badge-info {
  background-color: #17a2b8;
  color: #fff;
}

.rounded-circle {
  border-radius: 400px;
  position: relative;
  right: 00px;
  top: 00px;
}

.table {
  vertical-align: middle !important;
}

.table thead {
  height: 3rem;
  vertical-align: middle;
}

.table thead tr th {
  text-align: center;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: #e2f3ff;
}