
<h1>ADD PROFILE</h1>
<div style= "overflow: hidden;"> 

    <div class ="left">

        <div class="name">
            <label for="email">First name</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" /> 
            </div>
        </div>

        <div class="name">
            <label for="email">email ID</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" /> 
            </div>
        </div>

        <div class="name">
            <label for="email">Username</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" /> 
        </div>
    </div> 

    <div class = "right">

        <div class="name">
            <label for="email">Last name</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" /> 
            </div>
        </div>

        <div class="name">
            <label for="email">Number</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" /> 
            </div>
        </div>

        <div class="name">
            <label for="email">Password</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" /> 
        </div>
        
    </div>
</div>


<div class = "Button">

    <button class="save" (click)="save()"> Save </button>

    <br>
    
    <button class="cancel" (click)="save()"> Cancel </button>

</div> 


