
<h1>ADD PROFILE</h1>
<div style= "overflow: hidden;"> 

    <div class ="left">

        <div class="name">
            <label for="email">First name</label>
            <div class="sec-2">
            <input type="text" name="firstname" placeholder="" [(ngModel)] = "firstname" id="firstname"/> 
            </div>
        </div>

        <div class="name">
            <label for="email">Email ID</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" id="email" [(ngModel)] = "email"/> 
            </div>
        </div>

        <div class="name">
            <label for="email">Username</label>
            <div class="sec-2">
            <input type="text" name="username" placeholder="" id="username" [(ngModel)] = "username"/> 
        </div>
    </div> 

    <div class = "right">

        <div class="name">
            <label for="email">Last name</label>
            <div class="sec-2">
            <input type="text" name="lastname" placeholder="" id="lastname" [(ngModel)] = "lastname"/> 
            </div>
        </div>

        <div class="name">
            <label for="email">Mobile No.</label>
            <div class="sec-2">
            <input type="text" name="mobile" placeholder="" id="mobile" [(ngModel)] = "mobile"/> 
            </div>
        </div>

        <div class="name">
            <label for="email">Password</label>
            <div class="sec-2">
            <input type="text" name="password" placeholder="" id="password" [(ngModel)] = "password"/> 
        </div>
        
    </div>

</div>


<div class = "Button">
    <button class="save" (click)="register()"> Save </button>
    <br>
    <button class="cancel" > Cancel </button>

</div> 


