<h1>EDIT SKILL</h1>


<form>
    <input list="skills" id="myHouse" name="myHouse" placeholder="Skills" />
    <datalist id="skills">
      <option value="Maths">
      <option value="Art">
      <option value="Science">
      <option value="History">
      <option value="Geography">
    </datalist>
  </form>
  
  <div class="name">
      
    <div class="sec-2">
      <input type="text" name="category" placeholder="Category" /> 
      </div>
    </div>
  
    <div style="margin-left: 0px; margin-top: 15px;"> <div class = "Addskill"><button class="addskills" >Add Skills +</button> </div>
</div>