<h1>Hi John, Welcome!</h1>

<div class = "search-container">

    <img class = "searchicon"src="assets/images/icons/search.png" alt="Search icon." width="20" 
    >
    <div class="sec-2">
      <input type="text" name="searchbar" placeholder="Search" />
    </div> 
</div>
<div class="Subscribers tables">
    <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">SESSION ID</th>
        <th scope="col">DATE</th>
        <th scope="col">MASTER</th>
        <th scope="col">SUBSCRIBER</th>
        <th scope="col">AMOUNT</th>
        <th scope="col">STATUS</th>
    </thead>
    <tbody>
      <tr>
        <td>24835</td>
        <td>July -12-2023</td>
        <td>Judy Jose</td>
        <td>Arthi Singh</td>
        <td>30$</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>24836</td>
        <td>July -12-2023</td>
        <td>Arush Patel Santana</td>
        <td>Riya Singh</td>
        <td>30$</td>
        <td>Pending</td>
      </tr>
      <tr>
        <td>24836</td>
        <td>July -12-2023</td>
        <td>Arush Patel Santana</td>
        <td>Riya Singh</td>
        <td>30$</td>
        <td>Pending</td>
      </tr>
      <tr>
        <td>24836</td>
        <td>July -12-2023</td>
        <td>Arush Patel Santana</td>
        <td>Riya Singh</td>
        <td>30$</td>
        <td>Pending</td>
      </tr>
      <tr>
        <td>24836</td>
        <td>July -12-2023</td>
        <td>Arush Patel Santana</td>
        <td>Riya Singh</td>
        <td>30$</td>
        <td>Pending</td>
      </tr>
    </tbody>
  </table>
</div>


