<h1 class="mb-5">Hi John, Welcome!</h1>

<div class="Subscribers tables">
  <div class="mt-3">
    <table
      datatable
      [dtOptions]="dtOptions"
      class="table table-hover mt-5 table-striped"
    >
      <thead>
        <tr>
          <th scope="col">SESSION ID</th>
          <th scope="col">DATE</th>
          <th scope="col">MASTER</th>
          <th scope="col">SUBSCRIBER</th>
          <th scope="col">AMOUNT</th>
          <th scope="col">STATUS</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>24835</td>
          <td>JUL-12-2023</td>
          <td>Sam</td>
          <td>Arthi</td>
          <td>$30</td>
          <td>
            <span class="badge badge-success rounded-pill d-inline"
              >Completed</span
            >
          </td>
        </tr>
        <tr>
          <td>24835</td>
          <td>JUL-12-2023</td>
          <td>Sam</td>
          <td>Arthi</td>
          <td>$30</td>
          <td>
            <span class="badge badge-warning rounded-pill d-inline">
              Pending</span
            >
          </td>
        </tr>
        <tr>
          <td>24835</td>
          <td>JUL-12-2023</td>
          <td>Sam</td>
          <td>Arthi</td>
          <td>$30</td>
          <td>
            <span class="badge badge-success rounded-pill d-inline"
              >Completed</span
            >
          </td>
        </tr>
        <tr>
          <td>24835</td>
          <td>JUL-12-2023</td>
          <td>Sam</td>
          <td>Arthi</td>
          <td>$30</td>
          <td>
            <span class="badge badge-warning rounded-pill d-inline">
              Pending</span
            >
          </td>
        </tr>
        <tr>
          <td>24835</td>
          <td>JUL-12-2023</td>
          <td>Sam</td>
          <td>Arthi</td>
          <td>$30</td>
          <td>
            <span class="badge badge-success rounded-pill d-inline"
              >Completed</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
