* {
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.addAdmin {
  position: relative;
  top: 40px;
  font-size: 20px;
  border-radius: 500px;
  background: #F4C744;
  color: black;
  padding: 10px;
  border: 0px;
  outline: none;
}

h1 {
  position: relative;
  top: 50px;
  color: #3764A5;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

img {
  position: relative;
  top: 20px;
}

.admindetails {
  outline: none;
  border: none;
  background-color: white;
}


.search-container {
  margin-left: 1220px;
}

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  width: 200px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #EAEAEA;
}

.searchicon {
  position: relative;
  top: 40px;
  left: 170px;
}

/**/
table {
  width: 1190px;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #D97934;
  color: white;
}

tr:nth-child(even) {
  background-color: #F0F8FF;
}

tr:hover {
  background-color: #DEF3FF;
}

.badge {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 400px;
}

.badge-success {
  background-color: #28a745;
  color: #fff;
}

.badge-warning {
  background-color: #ffc107;
  color: #000;
}

.badge-info {
  background-color: #17a2b8;
  color: #fff;
}

.rounded-circle {
  border-radius: 400px;
  position: relative;
  right: 00px;
  top: 00px;
}

.table {
  vertical-align: middle !important;
}

.table thead {
  height: 3rem;
  vertical-align: middle;
}

.table thead tr th {
  text-align: center;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: #e2f3ff;
}