* {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h1 {
  position: relative;
  color: #3764a5;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

img {
  position: relative;
  top: 20px;
}

.admindetails {
  outline: none;
  border: none;
  background-color: white;
}

/**/
table {
  width: 1190px;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #d97934;
  color: white;
}

tr:nth-child(even) {
  background-color: #f0f8ff;
}

tr:hover {
  background-color: #def3ff;
}

.badge {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 400px;
}

.badge-success {
  background-color: #28a745;
  color: #fff;
}

.badge-warning {
  background-color: #ffc107;
  color: #000;
}

.badge-info {
  background-color: #17a2b8;
  color: #fff;
}

.rounded-circle {
  border-radius: 400px;
  position: relative;
  right: 00px;
  top: 00px;
}

.table {
  vertical-align: middle !important;
}

.table thead {
  height: 3rem;
  vertical-align: middle;
}

.table thead tr th {
  text-align: center;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #e2f3ff;
}
