
<meta charset="UTF-8">
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


<body>

    

    <div class="Loginpage">
        
        <div class="shadow">
            <div class = "Logocontainer">
    
                <img 
                src="assets/images/HireAMasterLogo.png" 
                alt="A logo of a character standing near the letter 
                A and the company named HireAMaster." 
                title="HireAMaster Logo"
                width="350"
                height="auto"
                />
        
            </div>
        </div>

        <hr>

        <div class="email">
            <label for="email"></label>
            <div class="sec-2">
            <input type="email" name="email" placeholder="Username" [(ngModel)]="username"/> 
            </div>
        </div>


        <div class="password">
            <label for="password"></label>
            <div class="sec-2">
            <input type="password" name="password" placeholder="Password" [(ngModel)]="password"/>
            <img class = "eyeicon" src="assets/images/icons/eye.png" width="15" alt="">
            </div> 
        </div>

        

        <div class="error">{{ errorMsg }}</div>
        
        <button class="login" (click)="login()"> Login </button>

    </div>

</body>

