
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">



<div style="width: 100%; overflow: hidden;">

    <div style="width: 280px; float: left;">

        <div class = "menu-container">
            
            <div class = "navigation-buttons">

                <hr>

                <button class="Master" (click)="enableMenu('masters')">
                    <div class = "image" >
                        <img
                            src="assets/images/icons/teacher.png" alt="Slogan for master." 
                        />
                    </div><div class = "text">Master</div>
                </button>

                <hr>
                <button class="Subscriber" (click)="enableMenu('subscribers')">
                    <div class = "image" >
                        <img
                            src="assets/images/icons/subscriber.png" alt="" 
                        /> 
                    </div><div class = "text">Subscribers</div>
                </button>

                <hr>
                <button class="Applicants" (click)="enableMenu('skills')">
                    <div class = "image" >
                        <img
                            src="assets/images/icons/application.png" 
                            alt="Slogan for admin." 
                        /> 
                    </div><div class = "text">Applicants</div> 
                </button>

                <hr>
                <button class="Payments" (click)="enableMenu('skills')">
                    <div class = "image" >
                        <img
                            src="assets/images/icons/payment.png" 
                            alt="Slogan for admin." 
                        /> 
                    </div><div class = "text">Payments</div> 
                </button>
            
            </div>

        </div>
    </div>
    
    <div style="margin-left: 20px;">  
        
        <div class = "user panel">
            <div *ngIf="adminmaster">
                <app-adminmaster></app-adminmaster>
            </div>
            <div *ngIf="adminsubscribers">
                <app-adminsubscriber></app-adminsubscriber>
            </div>
        </div>

    </div>  
</div>



