<!-- Header-->

<script
  nomodule
  src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Mulish&display=swap"
  rel="stylesheet"
/>

<div class="header-container">
  <section id="logo">
    <img
      src="assets/images/HireAMasterLogo.png"
      alt="A logo of a character standing near the letter
             A and the company named HireAMaster."
      title="HireAMaster Logo"
      width="220"
      height="auto"
    />
  </section>

  <div class="profilephoto">
    <img
      src="assets/images/Profilepic.png"
      alt="Profile photo of the user."
      width="45"
      height="auto"
    />
  </div>

  <div class="dropdown" style="float: right">
    <button class="dropbtn">
      <img
        src="assets/images/icons/dropdown.png"
        alt="Dropdown button"
        width="25"
        height="auto"
      />
    </button>

    <div class="dropdown-content">
      <button class="logout" >Logout</button>
    </div>
  </div>

  <hr />
</div>

<!--Menu-->
<link rel="preconnect" href="https://fonts.googleapis.com"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
<link
  href="https://fonts.googleapis.com/css2?family=Mulish&display=swap"
  rel="stylesheet"
/>

<div style="width: 100%; overflow: hidden">
  <div style="width: 280px; float: left">
    <div class="menu-container">
      <div class="navigation-buttons">

        <hr/>
        <button class="profilepic">
          <div class="image">
            <img
              src="assets/images/icons/pro.png"
              alt="Slogan for subscribers."
            />
          </div>
          <div class="text">Profile</div>
        </button>

        <hr/>
        <button class="availbility" >
          <div class="image">
            <img
              src="assets/images/icons/mngava.png"
              alt="Slogan for master."
            />
          </div>
          <div class="text">Manage Availability</div>
        </button>

        <hr/>
        <button class="profilepic" >
          <div class="image">
            <img
              src="assets/images/icons/mngses.png"
              alt="Slogan for subscribers."
            />
          </div>
          <div class="text">Manage Session</div>
        </button>

        <hr/>
        <button class="profilepic" >
          <div class="image">
            <img
              src="assets/images/icons/Upload.png"
              alt="Slogan for subscribers."
            />
          </div>
          <div class="text">Uploads</div>
        </button>

      </div>
    </div>
  </div>


<!--Body-->