
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">


<div *ngIf="adminmaster">
    <h1>Masters</h1>

    <div class = "search-container">

        <img class = "searchicon"src="assets/images/icons/search.png" alt="Search icon." width="20" 
        >
        <div class="sec-2">
            <input type="text" name="searchbar" placeholder="Search" />
        </div> 
    </div>
    
    <button class="admindetails" > 
        
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col">NAME</th>
                <th scope="col">SKILLS</th>
                <th scope="col">GENDER</th>
                <th scope="col">EDUCATION</th>
                <th scope="col">MOBILE</th>
                <th scope="col">EMAIL</th>
                <th scope="col">ACTION</th>
            </thead>
            <tbody>
                <tr>
                <td><img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                    alt=""
                    style="width: 40px; height: 40px"
                    class="rounded-circle"/>
                </td>
                <td>Manasi J</td>
                <td>Maths</td>
                <td>Male</td>
                <td>Masters</td>
                <td>9850082295</td>
                <td>info@gmail.com</td>
                <td>Active</td>
            
                </tr>
                <tr>
                <td><img src="https://images.pexels.com/photos/5378700/pexels-photo-5378700.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt=""
                    style="width: 40px; height: 40px"
                    class="rounded-circle"/></td>
                <td>Nicholas Simone</td>
                <td>Maths</td>
                <td>Male</td>
                <td>Masters</td>
                <td>9850082295</td>
                <td>info@gmail.com</td>
                <td>Active</td>
                </tr>
                <tr>
                <td><img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                    alt=""
                    style="width: 40px; height: 40px"
                    class="rounded-circle"/></td>
                <td>Luna fermoyle</td>
                <td>Maths</td>
                <td>Male</td>
                <td>Masters</td>
                <td>9850082295</td>
                <td>info@gmail.com</td>
                <td>Active</td>
                </tr>
                <tr>
                <td><img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt=""
                    style="width: 40px; height: 40px"
                    class="rounded-circle"/></td>
                <td>Pooja Patil</td>
                <td>Maths</td>
                <td>Male</td>
                <td>Masters</td>
                <td>9850082295</td>
                <td>info@gmail.com</td>
                <td>Active</td>
                </tr>
                <tr>
                <td><img src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt=""
                    style="width: 40px; height: 40px"
                    class="rounded-circle"/></td>
                <td>Nicholas Simone</td>
                <td>Maths</td>
                <td>Male</td>
                <td>Masters</td>
                <td>9850082295</td>
                <td>info@gmail.com</td>
                <td>Active</td>
                </tr>
                <tr>
                    <td><img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                        alt=""
                        style="width: 40px; height: 40px"
                        class="rounded-circle"/>
                    </td>
                    <td>Manasi J</td>
                    <td>Maths</td>
                    <td>Male</td>
                    <td>Masters</td>
                    <td>9850082295</td>
                    <td>info@gmail.com</td>
                    <td>Active</td>
                
                    </tr>
                    <tr>
                    <td><img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                        alt=""
                        style="width: 40px; height: 40px"
                        class="rounded-circle"/></td>
                    <td>Pooja Patil</td>
                    <td>Maths</td>
                    <td>Male</td>
                    <td>Masters</td>
                    <td>9850082295</td>
                    <td>info@gmail.com</td>
                    <td>Active</td>
                    </tr>
                    <tr>
                    <td><img src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                        alt=""
                        style="width: 40px; height: 40px"
                        class="rounded-circle"/></td>
                    <td>Nicholas Simone</td>
                    <td>Maths</td>
                    <td>Male</td>
                    <td>Masters</td>
                    <td>9850082295</td>
                    <td>info@gmail.com</td>
                    <td>Active</td>
                    </tr>
                    <tr>
                        <td><img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                            alt=""
                            style="width: 40px; height: 40px"
                            class="rounded-circle"/>
                        </td>
                        <td>Manasi J</td>
                        <td>Maths</td>
                        <td>Male</td>
                        <td>Masters</td>
                        <td>9850082295</td>
                        <td>info@gmail.com</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <td><img src="https://images.pexels.com/photos/5378700/pexels-photo-5378700.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                            alt=""
                            style="width: 40px; height: 40px"
                            class="rounded-circle"/></td>
                        <td>Nicholas Simone</td>
                        <td>Maths</td>
                        <td>Male</td>
                        <td>Masters</td>
                        <td>9850082295</td>
                        <td>info@gmail.com</td>
                        <td>Active</td>
                    </tr>
                    
            </tbody>
            </table>
    </button>
</div>

