
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">



<div style="width: 100%; overflow: hidden;">

    <div style="width: 280px; float: left;">

        <div class = "menu-container">
            
            <div class = "navigation-buttons">

                <hr>
            
                <button class="Admin" (click)="enableMenu('admin')">
                    <div class = "image" >
                        <img
                            src="assets/images/icons/contact-book.png" alt="Contact book slogan."
                        />
                    </div><div class = "text">Admin</div>
                </button> 

                <hr>

                <button class="Master" (click)="enableMenu('masters')">
                    <div class = "image" >
                        <img
                            src="assets/images/icons/teacher.png" alt="Slogan for master." 
                        />
                    </div><div class = "text">Master</div>
                </button>

                <hr>
                <button class="Subscriber" (click)="enableMenu('subscribers')">
                    <div class = "image" >
                        <img
                            src="assets/images/icons/wifi.png" alt="Slogan for subscribers." 
                        /> 
                    </div><div class = "text">Subscribers</div>
                </button>

                <hr>
                <button class="Skills" (click)="enableMenu('skills')">
                    <div class = "image" >
                        <img
                            src="assets/images/icons/graph.png" 
                            alt="Slogan for admin." 
                        /> 
                    </div><div class = "text">Skills</div> 
                </button>
            
            </div>

        </div>
    </div>
    
    <div style="margin-left: 20px;">  
        
        <div class = "user panel">
            <div *ngIf="admin">
                <app-users />
            </div>
            <div *ngIf="masters">
                <app-masters/>
            </div>
            <div *ngIf="subscribers">
                <app-subscribers/>
            </div>
            <div *ngIf="skills">
                <app-skills/>
            </div>
        </div>

    </div>  
</div>

