<app-header></app-header>

<div style="width: 100%; overflow: hidden">
    <div style="width: 280px; float: left">
        <div class="menu-container">
            <div class="navigation-buttons">
                <div class = "line"></div>
                

                <button class="Master" >
                <div class="image">
                    <img
                    src="assets/images/icons/teacher.png"
                    alt="Slogan for master."
                    />
                </div>
                <div class="text">Master</div>
                </button>

                
                <button class="Subscriber" >
                <div class="image">
                    <img
                    src="assets/images/icons/subscriber.png"
                    alt="Slogan for subscribers."
                    />
                </div>
                <div class="text">Subscribers</div>
                </button>

                
                <button class="Applicants" >
                    <div class = "image" >
                        <img
                            src="assets/images/icons/application.png" 
                            alt="Slogan for admin." 
                        /> 
                    </div><div class = "text">Applicants</div> 
                </button>

                
                <button class="Payments" >
                    <div class = "image" >
                        <img
                            src="assets/images/icons/payment.png" 
                            alt="Slogan for admin." 
                        /> 
                    </div><div class = "text">Payments</div> 
                </button>

            </div>
        </div>
    </div>

<h1>Master Profile</h1>

<div class = "body-container1">

    <div class= "profilepic">
        <div class="circle"></div>
        <div class="profilephoto2">
            <img src="assets/images/profilepic1.jpg" 
            alt="Profile photo of the user."
            width="" height="auto" />
        </div>
    </div>

    <div class = "masterinformation">
        <div class = "firstname">Firstname : John </div>
        <hr>
        <div class = "lastname">Lastname : Cena</div>
        <br>
        <hr>
        <div class = "skillsinterested">Skills Interented to teach <br> Networking</div>
        <br>
        <hr>
        <div class = "gradelevel">Grade level <br> Information technology leaners</div>
        <br>
        <hr>
        <div class = "gender">Gender : Female</div>
        <br>
        <hr>
        <div class = "dob">Date of Birth : 01-01-1990</div>
        <br>
        <hr>
        <div class = "email">Email: luna29@gmail.com </div>
        <br>
        <hr>
        <div class = "phone">Phone: +1 76789873</div>
        <br>
        <hr>
        <div class = "timezone">Time zone: CST</div>
        <br>
        <hr>
        <div class = "address">Address : #8901 Marmora Road Chi Minh City, Vietnam</div>
        <hr>
        <div class = "certifiedteacher">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                <circle cx="11.5" cy="9.5" r="9.5" fill="white"/>
                <path d="M21.36 10.68C21.36 16.5784 16.5784 21.36 10.68 21.36C4.78158 21.36 0 16.5784 0 10.68C0 4.78158 4.78158 0 10.68 0C16.5784 0 21.36 4.78158 21.36 10.68ZM9.44465 16.335L17.3685 8.4111C17.6376 8.14204 17.6376 7.70575 17.3685 7.43668L16.3941 6.46226C16.125 6.19315 15.6887 6.19315 15.4196 6.46226L8.95742 12.9244L5.94036 9.90738C5.6713 9.63831 5.23501 9.63831 4.9659 9.90738L3.99148 10.8818C3.72241 11.1509 3.72241 11.5872 3.99148 11.8562L8.47019 16.3349C8.7393 16.604 9.17554 16.604 9.44465 16.335Z" fill="#3764A5"/>
            </svg> I am a certifier teacher
        </div>
       
        <br>
        <div class = "tandc">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                <circle cx="11.5" cy="9.5" r="9.5" fill="white"/>
                <path d="M21.36 10.68C21.36 16.5784 16.5784 21.36 10.68 21.36C4.78158 21.36 0 16.5784 0 10.68C0 4.78158 4.78158 0 10.68 0C16.5784 0 21.36 4.78158 21.36 10.68ZM9.44465 16.335L17.3685 8.4111C17.6376 8.14204 17.6376 7.70575 17.3685 7.43668L16.3941 6.46226C16.125 6.19315 15.6887 6.19315 15.4196 6.46226L8.95742 12.9244L5.94036 9.90738C5.6713 9.63831 5.23501 9.63831 4.9659 9.90738L3.99148 10.8818C3.72241 11.1509 3.72241 11.5872 3.99148 11.8562L8.47019 16.3349C8.7393 16.604 9.17554 16.604 9.44465 16.335Z" fill="#3764A5"/>
            </svg> Agreed Terms and Condition
        </div>

    </div>

</div>

<div class = "body-container2">
    <div class = "educationalinfo">
        <h2>Educational Information</h2>
        <p>
            UG: B.tech IT 
            2012 Park high school
        
        PG: M.tech IT 
            2018  Marquette University
        
        GRAD SCHOOL: M.ED english education
        American college of education MN-89/2017 
            
        </p>
        <h2>Profile description</h2>
        <p>
            First Impression is the Best! 
            When students land on your profile they will see and 
            learn more about you and your accomplishments. This makes your profile!
        </p>
    </div>
        <hr>
    <div class = "educationalinfo1">
        <h2>Professional Details</h2>
        <p>
            Occupation :
            IT professor
            Instituition name/ Company Name :
            Walden University
            Years of Experience :
            4+ years
            Languages :
            Spanish, French

        </p>
        <h2>Documents</h2>
        <div class = "Docline1"></div>
        <div class = "Docline2"></div>
    </div>
</div>
