
<h1>MASTERS DETAILS</h1>

<div style= "overflow: hidden;"> 

    <div class ="left">

        <div class="name">
            <label for="email">Name</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" /> 
            </div>
        </div>

        <div class="name">
            <label for="email">Username</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" /> 
            </div>
        </div>

        <div class="name">
            <label for="email">Created Date</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" /> 
        </div>

        <div class="name">
            <label for="email">No. of sessions</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" /> 
        </div>

        <div class="name">
            <label for="email">Languages</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" /> 
        </div>
    </div> 

    <div class = "right">

        <div class="name">
            <label for="email">EmailID</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" /> 
            </div>
        </div>

        <div class="name">
            <label for="email">Password</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" /> 
            </div>
        </div>

        <div class="name">
            <label for="email">Phone Number</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" /> 
        </div>

        <div class="name">
            <label for="email">Skills</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" /> 
        </div>
        
    </div>
</div>

<div class = "Button">

    <button class="save" > Save </button>

    <br>
    
    <button class="delete" > Cancel </button>

</div> 

<h2>SCHEDULE</h2>

<div class = "Profileimg"><img 
    src="assets/images/Masterdetailstable.png" 
    alt="SuperAdmins table." 
    title="Super Admins table"
    width="1000"
    height="auto"/>
</div>
