*{
  font-family: Mulish, sans-serif;
}

input[type=text] {
  /* padding: 18px 20px; */
  margin: 3px 0;
  box-sizing: border-box;
  width: 200px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #EAEAEA;
  background: #FFF;
  font-size: 18px;
}

.addskills{
font-size: 18px;
border-radius: 500px;
background: #F4C744;
color: black;
padding: 10px;   
border: 0px;
}


button{
  border: none;
  cursor: pointer;
  appearance: none;
}

h1{
    position: relative;
    top: 0px;
    color: #3764A5;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}


.skillstable{
    position: relative;
    top: 20px;
} 

table {
    width: 1190px;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  } 
  
  th {
    background-color: #3764A5;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #F0F8FF;
  }
  
  tr:hover {
    background-color: #DEF3FF;
  }
  

  .save{
    display: flex;
    padding: 1em;
    background: #F4C744;
    color: #161618;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    position: relative;
    top: 30px;
    right: 0px;
}

.delete{
    display: flex;
    padding: 1em;
    background: #D2D9DF;
    color: #101016;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    position: relative;
    bottom: 30px;
    left:70px;
}

/**/

form {
	max-width: 40vw;
	display: flex;
	flex-direction: column;
}

form label {
	font-size: 1.2rem;
	margin-bottom: 12px;
}

form input{
  margin: 3px 0;
  box-sizing: border-box;
  width: 200px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #EAEAEA;
  background: #FFF;
  font-size: 18px;
}

form input:focus {
	outline: none;
	border: 2px solid darkslategray;
}

