<link rel="preconnect" href="https://fonts.googleapis.com"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
<link
  href="https://fonts.googleapis.com/css2?family=Mulish&display=swap"
  rel="stylesheet"
/>

<div style="width: 100%; overflow: hidden">
  <div style="width: 280px; float: left">
    <div class="menu-container">
      <div class="navigation-buttons">
        <hr/>
        <button class="profilepic" (click)="enablemasterMenu('masteruplsessions')">
          <div class="image">
            <img
              src="assets/images/icons/pro.png"
              alt="Slogan for subscribers."
            />
          </div>
          <div class="text">Home</div>
        </button>
        <hr/>

        <button class="profilepic">
          <div class="image">
            <img
              src="assets/images/icons/Upload.png"
              alt="Slogan for subscribers."
            />
          </div>
          <div class="text">Message</div>
        </button>
        <hr/>
        <button class="profilepic">
          <div class="image">
            <img
              src="assets/images/icons/pro.png"
              alt="Slogan for subscribers."
            />
          </div>
          <div class="text">Profile</div>
        </button>
        <hr/>
        <button class="profilepic" (click)="enablemasterMenu('mastermngsessions')">
          <div class="image">
            <img
              src="assets/images/icons/mngses.png"
              alt="Slogan for subscribers."
            />
          </div>
          <div class="text">Manage Session</div>
        </button>
        <hr/>

        <button class="availbility" (click)="enablemasterMenu('mastermngavaibility')">
          <div class="image">
            <img
              src="assets/images/icons/mngava.png"
              alt="Slogan for master."
            />
          </div>
          <div class="text">Manage Availability</div>
        </button>
        <hr/>
      </div>
    </div>
  </div>


  <div style="margin-left: 20px">
    <div class="user panel">
      <div *ngIf="mastermngavaibility">
        <app-master-mngavaibility></app-master-mngavaibility>
      </div>
      <div *ngIf="mastermngsessions">
        <app-master-mngsessions></app-master-mngsessions>
      </div>
      <div *ngIf="masteruplsessions">
        <app-master-upcomsessions></app-master-upcomsessions>
      </div>
    </div>
  </div>
</div>

