.blue-color {
  color: #406aa9;
}

ngx-dropzone {
  border: 2px solid #ccc;
  border-radius: 5px;
  min-height: 10rem;
}

ngx-dropzone-label {
  font-size: 2rem;
  color: #666;
  text-align: center;
}

.upload-icon {
  font-size: 4rem;
  color: #e2f3ff;
}