<div class="mt-4">
  <div class="px-3 my-3">
    <div class="row">
      <div class="profile-image">
        <img
          class="rounded-circle border border-dark"
          src="assets/images/profilepic1.jpg"
          alt=""
          width="100%"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="form mt-5">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label mb-2"
              >First Name</label
            >
            <input
              type="text"
              name="firstName"
              class="form-control"
              id="exampleFormControlInput1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label mb-2"
              >Last Name</label
            >
            <input
              type="text"
              name="lastName"
              class="form-control"
              id="exampleFormControlInput1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label mb-2"
              >Skills Interested to Teach</label
            >
            <input
              type="text"
              name="skills"
              class="form-control"
              id="exampleFormControlInput1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label mb-2"
              >Grade Levels</label
            >
            <input
              type="text"
              name="grade"
              class="form-control"
              id="exampleFormControlInput1"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-7 ms-4">
        <div class="form mt-5">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label mb-2"
              >Date of Birth</label
            >
            <div class="row">
              <div class="col-md-4">
                <select class="form-select" aria-label="Month">
                  <option *ngFor="let month of months">{{ month }}</option>
                </select>
              </div>
              <div class="col-md-4">
                <select class="form-select" aria-label="Date">
                  <option *ngFor="let date of dates">{{ date }}</option>
                </select>
              </div>
              <div class="col-md-4">
                <select class="form-select" aria-label="Year">
                  <option *ngFor="let year of years">{{ year }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label mb-2"
              >Address 1</label
            >
            <input
              type="text"
              name="address1"
              class="form-control"
              id="exampleFormControlInput1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label mb-2"
              >Address 2</label
            >
            <input
              type="text"
              name="address2"
              class="form-control"
              id="exampleFormControlInput1"
            />
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label mb-2"
                  >Country</label
                >
                <input
                  type="text"
                  name="country"
                  class="form-control"
                  id="exampleFormControlInput1"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label mb-2"
                  >State</label
                >
                <input
                  type="text"
                  name="state"
                  class="form-control"
                  id="exampleFormControlInput1"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label mb-2"
                  >Pin Code</label
                >
                <input
                  type="text"
                  name="pincode"
                  class="form-control"
                  id="exampleFormControlInput1"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label mb-2"
                  >Time Zone</label
                >
                <input
                  type="text"
                  name="timezone"
                  class="form-control"
                  id="exampleFormControlInput1"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label mb-2"
                  >Phone</label
                >
                <input
                  type="number"
                  name="phonenumber"
                  class="form-control"
                  id="exampleFormControlInput1"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label mb-2"
                  >Email</label
                >
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                />
              </div>
            </div>
          </div>
          <div class="my-2">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckChecked"
              />
              <label class="form-check-label" for="flexCheckChecked">
                I am Certified Teacher
              </label>
            </div>
          </div>
          <div class="d-flex flex-row mt-3">
            <div class="mx-2 mr-2">
              <button
                class="btn btn-warning btn-submit btn-block"
                type="button"
              >
                Save & Continue
              </button>
            </div>
            <div class="mx-2">
              <button class="btn btn-secondary btn-submit" type="button">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
