<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>



<div class = "header-container">

    <section id = "logo">
        <img 
            src="assets/images/HireAMasterLogo.png" 
            alt="A logo of a character standing near the letter 
             A and the company named HireAMaster." 
            title="HireAMaster Logo"
            width="220"
            height="auto"
        />
    </section>
</div>

<div class="body-container">

    <h1>Registration</h1>

    <div class="path">
        <div class = "personaldetails">
            <h2>Personal Details</h2>
        </div>
        <div class = "makeprofile">
            <h2>Make your profile</h2>
        </div>
        <div class = "verification">
            <h2>Verification</h2>
        </div>
        <div class = "complete">
            <h2>Complete</h2>
        </div>
    </div>

    <div class= "profilepic">
        <div class="circle"></div>
        <div class="profilephoto">
            <img src="assets/images/Profilepic.png" 
            alt="Profile photo of the user."
            width="90" height="auto"/>
        </div>
    </div>

    <div style= "overflow: hidden;" class = "personalinfo"> 

        <div class ="left">
    
            <div class="firstname">
                <label for="Firstname">First name</label>
                <div class="sec-2">
                <input type="text" name="email" placeholder="" /> 
                </div>
            </div>
    
            <div class="lastname">
                <label for="email">Last Name</label>
                <div class="sec-2">
                <input type="text" name="lastname" placeholder="" /> 
                </div>
            </div>
    
            <div class="Skillsdropdown">
                <label for="email">Skills Interented to Teach</label>
                <div class="sec-2">
                <input type="text" name="Skillsdropdown" placeholder="" /> 
            </div>

            <div class="gradeinterested">
                <label for="email">Grade Interested</label>
                <div class="sec-2">
                <input type="text" name="gradeinterested" placeholder="" /> 
            </div>
        </div> 
    
        <div class = "right">
            
           
            <div class="birthdate">
                <label for="email">Date of Birth</label>
                <div style="width: 100%; overflow: hidden;">
                    <div style="width: 130px; float: left;" class = "leftgchild"> 
                        <form>
                            <input list="dates" id="myHouse" name="myHouse" placeholder="Months" class = "dates"/>
                            <datalist id="dates">
                                <option value="Jan">
                                <option value="Feb">
                                <option value="March">
                                <option value="April">
                                <option value="May">
                                <option value="June">
                                <option value="...">
                            </datalist>
                        </form> 
                    </div>
                    <div class = "rightgchild"> 
                        <form>
                            <input list="dates" id="myHouse" name="myHouse" placeholder="Date" class = "dates"/>
                            <datalist id="dates">
                                <option value="1">
                                <option value="2">
                                <option value="3">
                                <option value="4">
                                <option value="5">
                                <option value="6">
                                <option value="...">
                            </datalist>
                        </form>

                        <div class = "rightggchild">

                            <form>
                                <input list="dates" id="myHouse" name="myHouse" placeholder="Years" class = "dates"/>
                                <datalist id="dates">
                                    <option value="1999">
                                    <option value="2000">
                                    <option value="2001">
                                    <option value="2002">
                                    <option value="2003">
                                    <option value="2004">
                                    <option value="2005">
                                    <option value="...">
                                </datalist>
                            </form>
    
                        </div>
                    </div>
               </div>
    
            </div>

            
            <div class="Address">
                <label for="email">Address 1</label>
                <div class="sec-2">
                <input type="text" name="Address" placeholder="" /> 
                </div>
            </div>
    
            <div class="Address">
                <label for="email">Address 2</label>
                <div class="sec-2">
                <input type="text" name="Address" placeholder="" /> 
            </div>

            <div class = "child"> 
                <div class = "leftchild">
                    <div class="Country">
                        <label for="email">Country</label>
                        <div class="sec-2">
                        <input type="text1" name="Country" placeholder="" /> 
                    </div>
                
                    <div class="Pincode">

                        <label for="email">Pin Code</label>
                        <div class="sec-2">
                        <input type="text1" name="Pincode" placeholder="" /> 
                    </div>
        
                    <div class="Phone">
                        <label for="email">Phone</label>
                        <div class="sec-2">
                        <input type="text1" name="Phone" placeholder="" /> 
                    </div>
                </div>
                <div class = "rightchild">
                    <div class="State">
                        <label for="email">State</label>
                        <div class="sec-2">
                        <input type="text1" name="State" placeholder="" /> 
                    </div>
            
                    <div class="Timezone">
                        <label for="email">Time Zone</label>
                        <div class="sec-2">
                        <input type="text1" name="Timezone" placeholder="" /> 
                    </div>
            
                    <div class="Email">
                        <label for="email">Email</label>
                        <div class="sec-2">
                        <input type="text1" name="Email" placeholder="" /> 
                    </div>
            
                </div>

                <div class = "Keeploggedin">

                    <label class="container">I am a certified teacher
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                
                </div>

                <div class = "Button">

                    <button class="save" (click) = "reg()"> Save and Continue</button>
                
                    <br>
                    
                    <button class="Cancel" > Cancel </button>
                
                </div> 
            </div>
        </div>
          
    
    </div>

</div>