*{
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
  
.header-container{
    width:100%;
    height: 90px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
}

.body-container{
    width: 1238px;
    height: 1250px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.15);
    position: relative;
    left:150px;
    top: 80px;
}

h1{
    color: #3764A5;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    left:500px;
    top: 50px;
}

.path{
    color: #3764A5;
    width: 230px;
    height: 73px;
    flex-shrink: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 90px; 
}


.personaldetails{
    width: 230px;
    height: 73px;
    flex-shrink: 0;
    background: #E2F3FF;
    position: relative;
    left:144px;
    top: 120px;
    border-style: solid;
    border-color: #E0E0E0 #E0E0E0 #3764A5 #E0E0E0;
}

.makeprofile{
    color: #44415C;
    width: 231px;
    height: 72px;
    flex-shrink: 0;
    background: #F9FCFE;
    position: relative;
    left:378px;
    top: 44px;
    border-style: solid;
    border-color: #E0E0E0 #E0E0E0 #E0E0E0 #44415C;
}

.verification{
    color: #44415C;
    width: 231px;
    height: 72px;
    flex-shrink: 0;
    background: #F9FCFE;
    position: relative;
    left:613px;
    bottom: 31px;
    border-style: solid;
    border-color: #E0E0E0 #E0E0E0 #E0E0E0 #44415C;
}

.complete{
    color: #44415C;
    width: 231px;
    height: 72px;
    flex-shrink: 0;
    background: #F9FCFE;
    position: relative;
    left:848px;
    bottom: 106px;
    border-style: solid;
    border-color: #E0E0E0 #E0E0E0 #E0E0E0 #44415C;
}

h2{
    position: relative;
    top: 15px;
}

.circle{
    height: 100px;
    width: 100px;
    border-radius: 90px;
    border: 4px solid #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 200px;
    left: 156px;
} 

.profilephoto{
    position: relative;
    top: 100px;
    left: 165px; 
}



.name{
    display: flex;
    width: 74px;
    flex-direction: column;
    flex-shrink: 0;
    color: #40239f;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.488px;
}

input[type=text] {
    padding: 0px 200px;
    margin: 12px 0px 10px 0px;
    box-sizing: border-box;
    border-radius: 0px;
    width: 420px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #EAEAEA;
    background: #FFF;
}

.save{
    display: flex;
    padding: 1em;
    background: #F4C744;
    color: #161618;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    position: relative;
    bottom: 220px;
}

.cancel{
    display: flex;
    padding: 1em;
    background: #D2D9DF;
    color: #101016;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    position: relative;
    bottom: 280px;
    left: 90px;
}


.right{
    position: relative;
    left : 500px;
    bottom: 360px;
}


.left{
    position: relative;
    left : 50px;
    top : 140px;
}

input[type=text1] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 0px;
    width: 220px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #EAEAEA;
    background: #FFF;
}

.rightchild{
    position: relative;
    left : 250px;
    bottom: 250px;
}

.save{
    display: flex;
    padding: 1em;
    background: #F4C744;
    color: #161618;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    position: relative;
    top:40px;
    right: 250px;
}

.Cancel{
    display: flex;
    padding: 1em;
    background: #D2D9DF;
    color: #101016;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    position: relative;
    bottom: 23px;
    right: 80px;
}

/**/

.container {
    display: block;
    padding-left: 20px;
    cursor: pointer;
    color: var(--text-colors-title-dark, #232932);
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    right:250px;
    top: 10px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

.container:hover input ~ .checkmark {
    background-color: #807979;
}
  
  /* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}
  
  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

  /* Style the checkmark/indicator */
.container .checkmark:after {
    left: 5px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/**/

form {
	max-width: 40vw;
	display: flex;
	flex-direction: column;
}

form label {
	font-size: 1.2rem;
	margin-bottom: 12px;
}

form input{
  margin: 3px 0;
  box-sizing: border-box;
  width: 120px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #EAEAEA;
  background: #FFF;
  font-size: 16px;
}

form input:focus {
	outline: none;
	border: 2px solid darkslategray;
}

.rightggchild{
    position: relative;
    left: 260px;
    bottom: 45px;

}

.Address{
    position: relative;
    bottom: 34px;
}