*{
    font-family: Mulish, sans-serif;
}

h1{
    color: #3764A5;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.name{
    display: flex;
    width: 74px;
    flex-direction: column;
    flex-shrink: 0;
    color: #40239f;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.488px;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 420px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #EAEAEA;
    background: #FFF;
}

.cancel{
    display: flex;
    padding: 1em;
    background: #D2D9DF;
    color: #101016;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    position: relative;
    bottom: 300px;
    left: 100px;
}


.right{
    position: relative;
    left : 500px;
    bottom: 224px;
}

.save{
    display: flex;
    padding: 1em;
    background: #F4C744;
    color: #161618;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    position: relative;
    bottom: 159px;
}

.delete{
    display: flex;
    padding: 1em;
    background: #D2D9DF;
    color: #101016;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    position: relative;
    bottom: 220px;
    left: 70px;
}

h2{
    font-size: 23px;
}

h3{
    font-size: 23px;
    position: relative;
    bottom: 210px;
}

.accountinfo{
    position: relative;
    bottom: 210px;
}

h4{
    font-size: 23px;
    position: relative;
    bottom: 210px;
}

.Profileimg{
    position: relative;
    bottom: 240px;
} 