<h1>Subscribers</h1>

<div class="Subscribers tables mt-5">
  <table
    datatable
    [dtOptions]="dtOptions"
    class="table table-hover mt-5 table-striped"
  >
    <thead>
      <tr>
        <th scope="col">NAME</th>
        <th scope="col">USER NAME</th>
        <th scope="col">CREATED DATE</th>
        <th scope="col">NO. OF SESSIONS</th>
        <th scope="col">LAST LOGIN</th>
        <th scope="col">STATUS</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <div>
              <img
                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                alt=""
                style="width: 40px; height: 40px"
                class="rounded-circle"
              />
            </div>
            <div class="ms-3">Luna fermoyle</div>
          </div>
        </td>
        <td>lunad</td>
        <td>05/21/23</td>
        <td>4</td>
        <td>05/21/23</td>
        <td>
          <span class="badge badge-success rounded-pill d-inline"
            >Verified</span
          >
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <div>
              <img
                src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                alt=""
                style="width: 40px; height: 40px"
                class="rounded-circle"
              />
            </div>
            <div class="ms-3">Nicholas Simone</div>
          </div>
        </td>
        <td>nicholass</td>
        <td>05/21/23</td>
        <td>4</td>
        <td>05/21/23</td>
        <td>
          <span class="badge badge-warning rounded-pill d-inline">
            Non Verified</span
          >
        </td>
      </tr>
      <tr>
        <td class="d-flex align-items-center">
          <div>
            <img
              src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
              alt=""
              style="width: 40px; height: 40px"
              class="rounded-circle"
            />
          </div>
          <div class="ms-3">Luna fermoyle</div>
        </td>
        <td>lunad</td>
        <td>05/21/23</td>
        <td>4</td>
        <td>05/21/23</td>
        <td>
          <span class="badge badge-success rounded-pill d-inline"
            >Verified</span
          >
        </td>
      </tr>
      <tr>
        <td class="d-flex align-items-center">
          <div>
            <img
              src="https://images.pexels.com/photos/3444087/pexels-photo-3444087.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
              alt=""
              style="width: 40px; height: 40px"
              class="rounded-circle"
            />
          </div>
          <div class="ms-3">Pooja Patil</div>
        </td>
        <td>pooja</td>
        <td>05/21/23</td>
        <td>4</td>
        <td>05/21/23</td>
        <td>
          <span class="badge badge-warning rounded-pill d-inline">
            Non Verified</span
          >
        </td>
      </tr>
      <tr>
        <td class="d-flex align-items-center">
          <div>
            <img
              src="https://images.pexels.com/photos/5378700/pexels-photo-5378700.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
              alt=""
              style="width: 40px; height: 40px"
              class="rounded-circle"
            />
          </div>
          <div class="ms-3">Nicholas Simone</div>
        </td>
        <td>nicholas</td>
        <td>05/21/23</td>
        <td>4</td>
        <td>05/21/23</td>
        <td>
          <span class="badge badge-info rounded-pill d-inline">In Active</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
