<!-- <app-header></app-header>
<app-menu></app-menu> -->
<!-- <app-footer></app-footer> -->

<h1>ADMIN DETAILS</h1>
<h2>PERSONAL DETAILS</h2>

<div style= "overflow: hidden;"> 

    <div class ="left">

        <div class="name">
            <label for="name-input">Name</label>
            <div class="sec-2">
            <input type="text" id="name-input" #newadmin /> 
            </div>
        </div>

        <div class="name">
            <label for="email">Phone Number</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" /> 
            </div>
        </div>

        <div class="name">
            <label for="email">Location</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" /> 
        </div>
    </div> 

    <div class = "right">

        <div class="name">
            <label for="email">EmailID</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" /> 
            </div>
        </div>

        <div class="name">
            <label for="email">Availibiltiy</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" /> 
            </div>
        </div>

        <div class="name">
            <label for="email">Skills</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" /> 
        </div>
        
    </div>
</div>

<h3>ACCOUNT INFORMATION</h3>

<div class = "accountinfo" style= "overflow: hidden;"> 

    <div class ="left">

        <div class="name">
            <label for="email">Create Date</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" /> 
            </div>
        </div>

        <div class="name">
            <label for="email">Password</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" /> 
            </div>
        </div>

        <div class="name">
            <label for="email">Status</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" /> 
        </div>
    </div> 

    <div class = "right">

        <div class="name">
            <label for="email">User ID</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" /> 
            </div>
        </div>

        <div class="name">
            <label for="email">No. of Masters</label>
            <div class="sec-2">
            <input type="text" name="email" placeholder="" /> 
            </div>
        </div>

    </div>
</div>

<div class = "Button">

    <button (click)="addnewadmin(newadmin.value)" class="save" > Save </button>

    <br>
    
    <button class="delete" > Delete </button>

</div> 

<h4>MASTERS</h4>

<div class = "Profileimg"><img 
    src="assets/images/Admindetailstable.png" 
    alt="SuperAdmins table." 
    title="Super Admins table"
    width="500"
    height="auto"/>
</div> 
<!-- 
<div class="child">
    <p>Admin selected: <strong>{{admindetails.name}}</strong></p>
    <strong>{{admindetails.noofseesions}}</strong>
</div> -->