
<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">



<div class = "header-container">

    <section id = "logo">
        <img 
            src="assets/images/HireAMasterLogo.png" 
            alt="A logo of a character standing near the letter 
             A and the company named HireAMaster." 
            title="HireAMaster Logo"
            width="220"
            height="auto"
        />
    </section>
</div>

<div class="body-container">

    <h1>Registration Page 2</h1>

    <div class="path">
        <div class = "personaldetails">
             <h2>Personal Details</h2>
        </div>
        <div class = "makeprofile">
            <h2>Make your profile</h2>
        </div>
        <div class = "verification">
            <h2>Verification</h2>
        </div>
        <div class = "complete">
            <h2>Complete</h2>
        </div>
    </div>


    <div style= "overflow: hidden;" class = "personalinfo"> 

        <div class ="left">
            
            <h3>Share more about you</h3>
    
            <div class="sharemore">
                <label for="email">Share more about you</label>
                <div class="sec-2">
                <input type="text" name="sharemore" placeholder="" /> 
            </div>

            <div class="language">
                <label for="email">Language</label>
                <div class="sec-2">
                <input type="text" name="language" placeholder="" /> 
            </div>
        </div> 
    
        <div class = "right">
            
            <h3>Educational Details</h3>

            <div class="coursename">
                <label for="email">Course Name</label>
                <div class="sec-2">
                <input type="text" name="coursename" placeholder="UG" /> 
                </div>
            </div>
    
            <div class="coursename">
                <label for="email">Course Name</label>
                <div class="sec-2">
                <input type="text" name="coursename" placeholder="PG" /> 
                </div>
            </div>
            
            <div class="Institution">
                <label for="email">Institution / University Name</label>
                <div class="sec-2">
                <input type="text" name="Institution" placeholder="" /> 
                </div>
            </div>

            <div class="gradyears">
                <label for="email">Years of Graduation</label>
                <div class="sec-2">
                <input type="text" name="gradyears" placeholder="" /> 
                </div>
            </div>

            <h3>Professional Details</h3>

            <div class="occupation">
                <label for="email">Occupation</label>
                <div class="sec-2">
                <input type="text" name="occupation" placeholder="" /> 
            </div>

            <div class="institutionname">
                <label for="email">Institution name / Company Name</label>
                <div class="sec-2">
                <input type="text" name="institutionname" placeholder="" /> 
            </div>

            <div class = "Keeploggedin">

                <label class="container">I am a certified teacher
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            
            </div>

            <div class = "Button">

                <button class="save" > Save and Continue</button>
            
                <br>
                
                <button class="Cancel" > Cancel </button>
            
            </div> 
            

        </div>
          
    
    </div>

</div>
