.logo {
  position: relative;
  top: 99px;
  left: 224px;
}

h2 {
  position: relative;
  left: 100px;
}

.textexp {
  width: 639px;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 123.8%; /* 47.044px */
  letter-spacing: 5.13px;
  text-align: center;
  position: relative;
  left: 450px;
  bottom: 180px;
}

.login-container {
  width: 394px;
  height: 500px;
  flex-shrink: 0;
  position: relative;
  left: 150px;
  top: 90px;
  display: flex;
  padding: 10px 14px;
  border: 2px solid #ffffff;
  border-radius: 33px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2.5em;

  /*border: 2px solid #ffffff;
    mix-blend-mode: soft-light;
    box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.35);
    background: #ffffff;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2.5em; */
}

.login-container .email {
  background: white;
  box-shadow: 0 0 0.5em #212121;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 10px;
  opacity: 0.8;
  margin-top: -3em;
  position: relative;
  top: 70px;
  fill: #f6f6f6;
  border: 1px solid #636262;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.login-container .password {
  box-shadow: 0 0 0.5em #212121;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 10px;
  color: #1e1e1e;
  opacity: 0.8;
  position: relative;
  top: 70px;
  fill: #f6f6f6;
  border: 1px solid #636262;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.login-container .password input {
  outline: none;
  border: none;
}

.login-container .email input {
  outline: none;
  border: none;
}

.eyeicon {
  position: relative;
  left: 200px;
}

h5 {
  position: relative;
  left: 0px;
  bottom: 30px;
}

h6 {
  color: #434444;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
  text-decoration-line: underline;
  position: relative;
  left: 280px;
  top: 20px;
}

.Keeploggedin {
  position: relative;
  right: 320px;
  bottom: 130px;
}

.google {
  width: 350px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  position: relative;
  bottom: 100px;
}

.signin {
  display: flex;
  width: 300px;
  height: 50px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 31px;
  background: #f4c744;
  position: relative;
  left: 30px;
  right: 10px;
  bottom: 100px;
  border: none;
}

.newaccount {
  position: relative;
  left: 35px;
  bottom: 120px;
}

.createaccount {
  position: relative;
  right: 110px;
  bottom: 76px;
}

/**/

.container {
  display: block;
  padding-left: 20px;
  cursor: pointer;
  color: var(--text-colors-title-dark, #232932);
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  left: 310px;
  top: 60px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #807979;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.orlogin {
  width: 350px;
  height: 20px;
  color: #adacac;
  text-align: center;
  font-family: Mulish;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  position: relative;
  bottom: 90px;
}

.line1 {
  width: 95px;
  height: 1px;
  background: #a5a3a3;
  position: relative;
  top: 25px;
}

.line2 {
  width: 95px;
  height: 1px;
  background: #a5a3a3;
  position: relative;
  left: 255px;
  bottom: 25px;
}

/**/
.right-container {
  width: 674px;
  height: 820px;
  flex-shrink: 0;
  background: #eeeff3;
  position: relative;
  left: 200px;
}

h1 {
  color: #3764a5;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.875px;
  text-transform: uppercase;
  position: relative;
  top: 111px;
  left: 100px;
}

.discrib {
  color: #0d0d0d;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  font-style: none;
  position: relative;
  top: 111px;
  left: 80px;
}

.Illustarion {
  position: relative;
  top: 150px;
}
