<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">


<div style="width: 100%; overflow: hidden;">
    <div style="width: 600px; float: left;"> 
        <div class = "left-container">
            <div class = "logo">
                <section id = "logo">
                    <img 
                        src="assets/images/HireAMasterLogo.png" 
                        alt="A logo of a character standing near the letter 
                        A and the company named HireAMaster." 
                        title="HireAMaster Logo"
                        width="330"
                        height="auto"
                    />
                </section>
                <h2>Welcome!</h2>
            </div>
            <div class = "login-bar">
                <div class="login-container">
                    <div class="email">
                        <label for="email"></label>
                        <div class="sec-2">
                        <input type="email" name="email" placeholder="Username" /> 
                        </div>
                    </div>
                
                    <div class="password">
                        <label for="password"></label>
                        <div class="sec-2">
                        <input type="password" name="password" placeholder="Password" />
                        <img class = "eyeicon" src="assets/images/icons/eye.png" width="15" alt="">
                        </div>
                    </div>
                    
                    <h6>Forgot Password?</h6>

                    <div class = "Keeploggedin">

                        <label class="container">Keep me logged in
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                    
                    </div>
                    
                    <div class="orlogin">
                        <div class ="line1"></div>
                        <p>Or Login with email</p>
                        <div class ="line2"></div>
                    </div>
                
                    <div class="dropdown-content">
        
                        <button class = "google" >
                            <img 
                            src="assets/images/icons/google.png" 
                            alt="A logo of a character standing near the letter 
                            A and the company named HireAMaster." 
                            title="HireAMaster Logo"
                            width="20"
                            height="auto"/>
                            Sign in with google
                        </button>
                    </div>

                    <div class="dropdown-content">
                        <button class = "signin" >
                            Sign-in
                        </button>
                    </div>

                    <div class = "newaccount">
                        Do not have an account?
                        <div class = "createaccount"><h6>Create account</h6></div>
                        
                    </div>


                    
                </div>

            </div>



        </div>
    </div>



    <div style="margin-left: 620px;"> 
        <div class="right-container">
            <div class = "Discribtion">
                <h1>Best way to solve your problems</h1>
                <ul class = "discrib">
                    <li><a>24/7 available Masters </a></li>
                    <br>
                    <li><a>Efficient Google Meet</a></li>
                    <br>
                    <li><a> Topic include illustration, medicine, business more</a></li>
                </ul>
            </div>
            <div class = "Illustarion">
                <section id = "logo">
                    <img 
                        src="assets/images/illustra.png" 
                        alt="" 
                        title="HireAMaster Illustarion"
                        width="674px"
                        height="auto"
                    />
                </section>
            </div>
        </div>
    </div>
</div>


